body {
    margin: 0;
    font-family: Arial;
}

.bg-green {
    background: linear-gradient(135deg, #1cc88a, #36b9cc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-purple {
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-light {
    background: #f4f6f9;
    padding: 40px;
}

.card {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

input:focus {
    border-color: #667eea;
    box-shadow: 0 0 8px rgba(102,126,234,0.6);
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    background: #4e73df;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2e59d9;
    transform: scale(1.05);
}

.link-btn {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #4e73df;
    transition: 0.3s;
}

.link-btn:hover {
    color: #1cc88a;
}


.dashboard {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logout-btn {
    padding: 8px 15px;
    background: #e74a3b;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.logout-btn:hover {
    background: #c0392b;
    transform: scale(1.05);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background: #4e73df;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f1f1f1;
}

/* Delete Button */
.delete-btn {
    padding: 6px 12px;
    background: #e74a3b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.delete-btn:hover {
    background: #c0392b;
    transform: scale(1.1);
}
